@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --border-default: #eeeeee;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
  --border-default: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
